.mainbox{
    border: 2px solid red;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    overflow-y:auto;
}
.mainbox > div{
    flex: 1;
    border: 2px solid blue;
    padding: 5px;
    margin: 5px 5px;

}
.addbox{
    border: 2px solid green;
    padding: 5px;
}